<%- include("navigation.ejs") %>
<h1>This is main file</h1>

<% if(locals.posts) { %>

<%- include("post-card-list.ejs") %>

<% } else { %>
<h1>There are no posts available</h1>

<% } %> <%- include("footer.ejs") %>
