<% if (posts.length > 0) { %>
<div class="post-list">
  <% posts.forEach(post => { %> <%- include("post-card.ejs",{ post }) %> <% })
  %>
</div>
<% } else { %>
<h2>There are no posts available</h2>
<% } %>
